
<div class="product-detail">
	<div class="loading"  *ngIf="showLoadDetails">
		<div class="load-area">
			<div class="d-flex justify-content-center">
			<div class="spinner-grow text-secondary load-spinner" role="status">
				<span class="sr-only">Realizando busca...</span>
			</div>
			</div>
		</div>
	</div>
	<div class="container-fliud">
		<div *ngIf="!showLoadDetails" class="wrapper row">
			<div class="preview col-md-6">

				<div class="preview-pic tab-content">
					<div class="tab-pane active" id="pic-1"><img src="https://ccstore-test-zdqa.oracleoutsourcing.com{{productDetail?.largeImageURLs[0]}}" /></div>
				</div>
			</div>
			<div class="details col-md-6">
				<h3 class="product-title">{{productDetail?.displayName}}</h3>
				<div class="rating">
					<span class="review-no">{{productDetail?.brand}}</span>
				</div>
				<p class="product-description">Descrição: {{productDetail?.description}}</p>
				<h4 class="price"><span>{{productDetail?.salePrice}} Pontos</span></h4>
				<div class="action">
					<button class="add-to-cart btn btn-default" type="button" (click)="goToConfirmation(productDetail.displayName)">Comprar</button>
				</div>
			</div>
		</div>
	</div>

</div>
<section>
	<div class="area-title">
		<div class="headings">
		<h5 class="title">Recomendações</h5>
		<span class="hr"></span>
		</div>
	</div>
</section>

<div class="loading"  *ngIf="showLoadRecomendations">
	<div class="load-area">
		<div class="d-flex justify-content-center">
		<div class="spinner-grow text-secondary load-spinner" role="status">
			<span class="sr-only">Realizando busca...</span>
		</div>
		</div>
	</div>
</div>
<app-carousel [products]="recomendations"></app-carousel>
