<!-- <div class="card mb-4 box-shadow product-item" (click)="viewProductDetail(product.id, product.categoryId)">
  <img class="card-img-top product-image" data-src="{{product.imageId}}" onerror="this.src='../../assets/sem_foto.png'" alt="Produto">
  <div class="card-body">
    <p class="card-text text-truncate">{{product.brand}}</p>
    <p class="card-text text-truncate">{{product.name}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted">
        <div *ngIf="product.priceCents != product.effectivePriceCents" class="text-danger price-promotion">{{product.priceCents}} Pontos</div>
      </div>
      <strong class="text-muted">{{product.effectivePriceCents}} Pontos</strong>
    </div>
  </div>
</div> -->

<div class="container">
	<div class="card-deck">
		<div class="card my-3">
			<img src="../../../assets/celular-vitrine.jpg" class="card-img-top">
			<div class="card-body">
				<h4 class="card-title">Title</h4>
				<p class="card-text">Testando o card do celular responsivo.</p>
				<button class="btn btn-primary" type="button">Botão</button>
			</div>
		</div>
		<div class="card my-3">
			<img src="../../../assets/celular-vitrine.jpg" class="card-img-top">
			<div class="card-body">
				<h4 class="card-title">Title</h4>
				<p class="card-text">Testando o card do celular responsivo.</p>
				<button class="btn btn-primary" type="button">Botão</button>
			</div>
		</div>
		<div class="card my-3">
			<img src="../../../assets/celular-vitrine.jpg" class="card-img-top">
			<div class="card-body">
				<h4 class="card-title">Title</h4>
				<p class="card-text">Testando o card do celular responsivo.</p>
				<button class="btn btn-primary" type="button">Botão</button>
			</div>
    </div>
    <div class="card my-3">
			<img src="../../../assets/celular-vitrine.jpg" class="card-img-top">
			<div class="card-body">
				<h4 class="card-title">Title</h4>
				<p class="card-text">Testando o card do celular responsivo.</p>
				<button class="btn btn-primary" type="button">Botão</button>
			</div>
		</div>
	
	</div>
</div>