<!-- <div class="card mb-4 box-shadow product-item" (click)="viewProductDetail(product.id, product.categoryId)">
  <img class="card-img-top product-image" data-src="{{product.imageId}}" onerror="this.src='../../assets/sem_foto.png'" alt="Produto">
  <div class="card-body">
    <p class="card-text text-truncate">{{product.brand}}</p>
    <p class="card-text text-truncate">{{product.name}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted">
        <div *ngIf="product.priceCents != product.effectivePriceCents" class="text-danger price-promotion">{{product.priceCents}} Pontos</div>
      </div>
      <strong class="text-muted">{{product.effectivePriceCents}} Pontos</strong>
    </div>
  </div>
</div> -->


      
<div class="card-deck" style="margin-right: 10px; margin-left: 10px">
		<div class="card my-3" *ngFor="let recom of recomendations">
			<img [src]="recom.imageId" class="card-img-top">
			<div class="card-body">
				<h4 class="card-title">{{recom.brand}}</h4>
				<p class="card-text">{{recom.name}}</p>
				<button class="btn btn-success" type="button">Comprar</button>
			</div>
		</div>
	</div>
