$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

//Numeros de cards por linha
$cards-per-line: (
    xs: 1,
    sm: 2,
    md: 2,
    lg: 3,
    xl: 4,
);

.card-deck {
  display: grid;
 }

@each $name, $breakpoint in $grid-breakpoints {
	@media (min-width: $breakpoint) {
		.card-deck {
			grid-template-columns: repeat(map-get($cards-per-line, $name), 1fr);
		}
	}
}