<main role="main">
  <app-search></app-search>
  <app-hero></app-hero>
  <div class="album py-5 bg-light">
    <section>
      <div class="area-title">
        <div class="headings">
        <h5 class="title">Promoções</h5>
        <span class="hr"></span>
        </div>
      </div>
    </section>
    <div class="loading"  *ngIf="showLoadPromotions">
        <div class="load-area">
          <div class="d-flex justify-content-center">
          <div class="spinner-grow text-secondary load-spinner" role="status">
            <span class="sr-only">Realizando busca...</span>
          </div>
          </div>
        </div>
      </div>
      <app-promotion></app-promotion>
    <section>
      <div class="area-title">
        <div class="headings">
        <h5 class="title">Recomendações</h5>
        <span class="hr"></span>
        </div>
      </div>
    </section>
    <div class="loading"  *ngIf="showLoadRecomendations">
        <div class="load-area">
          <div class="d-flex justify-content-center">
          <div class="spinner-grow text-secondary load-spinner" role="status">
            <span class="sr-only">Realizando busca...</span>
          </div>
          </div>
        </div>
      </div>
    <app-carousel [products]="recomendations"></app-carousel>

  </div>
</main>

